* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgb(196, 245, 245);
}


p {
    text-align: justify;
}

/* --------- ENCABEZADO --------- */
header {
    background-color: rgb(196, 245, 245);
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.nav-link {
    color: black;
}

.carousel-item {
    height: 450px;
}

header nav ul li a:hover {
    font-weight: bold;
}

.productos {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.productos:hover {
    transform: scale(1.02);
    box-shadow: rgb(137, 194, 194) 0px 0px 27px 14px;
}

.equipo {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.contacto {
    width: 320px;
}

.contacto textarea {
    height: 250px;
}

.c-boton {
    border: 1px rgb(185, 178, 178);
    background-color: rgb(185, 178, 178);
}

.carousel-inner {
    width: 400px;
    height: 340px;
}

.carousel-item img {
    width: 400px;
    height: 320px;
    object-fit: cover;
}