* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #000000;
}

p {
  text-align: justify;
}

.letra-PP {
  font-size: 1.2rem;
  font-weight: 400;
}

.letra-P {
  font-size: 1.5rem;
  font-weight: 200;
}

.letra-M {
  font-size: 2rem;
  font-weight: 400;
}

.letra-G {
  font-size: 2.5rem;
  font-weight: 500;
}

.c-instagram:hover {
  color: rgb(228, 19, 99);
  transition: all 500ms ease-out;
}

.c-whatsapp:hover {
  color: rgb(26, 182, 26);
  transition: all 500ms ease-out;
}

body {
  background-color: #c4f5ff;
}

header {
  background-color: #c4f5ff;
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}
header nav ul li a:hover {
  font-weight: bold;
}

.contenedor {
  min-height: calc(100vh - 103.83px - 140.83px);
}

.boton, .boton:visited {
  border: 1px #b9b2b2;
  background-color: #b9b2b2;
  color: white;
}

.videoImpresion3D {
  width: 97%;
}

.carousel-inner {
  width: 385px;
  height: 340px;
}
@media (min-width: 768px) {
  .carousel-inner {
    width: 600px;
    height: 600px;
  }
}
.carousel-item {
  height: 450px;
}
.carousel-item-img {
  width: 385px;
  height: 320px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .carousel-item-img {
    width: 600px;
    height: 580px;
    object-fit: cover;
  }
}

.productos {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
}
.productos:hover {
  transform: scale(1.02);
  box-shadow: rgb(137, 194, 194) 0px 0px 27px 14px;
  transition: all 1s;
}

.card {
  width: 300px;
  height: 400px;
}
.card-equipo {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.contacto_info {
  width: 320px;
}
.contacto_info_texto {
  height: 250px;
}
@media (min-width: 768px) {
  .contacto_info {
    width: 600px;
  }
}
.contacto_maps {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "video" "horarios";
}
.contacto_maps iframe {
  width: 97%;
  grid-area: "video";
}
.contacto_maps_horario {
  grid-area: "horarios";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .contacto_maps {
    grid-template-columns: 2fr 1fr;
  }
}

.ingreso {
  justify-content: center;
  align-items: center;
}
.ingreso-card {
  position: relative;
  width: 300px;
  height: 300px;
}
.ingreso-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.ingreso-card-capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 10px;
  text-align: center;
  justify-items: center;
  opacity: 0;
  visibility: hidden;
}
.ingreso-card-capa button {
  background-color: #b9b2b2;
  border-color: #b9b2b2;
  color: black;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}
.ingreso-card:hover > .ingreso-card-capa {
  opacity: 1;
  visibility: visible;
}
.ingreso-card:hover > .ingreso-card-capa h3 {
  margin-top: 130px;
  transition: all 1s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
