.contenedor-producto {
    width: 300px;
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        &:hover {
            transform: scale(1.02);
            box-shadow: $color-sombra-prod 0px 0px 27px 14px;
            transition: all 1s;
        }
    }
    &-descripcion{
        padding: 5px;
        h3, p{
        text-align: center;
        margin: 0;
        }
    }
}