body {
    background-color: $bg-color;
}
header{
    background-color: $bg-color;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    nav{
        ul{
            li{
                a{
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
.contenedor{
    min-height: calc(100vh - 103.83px - 140.83px);
}
.boton{
    border: 1px $color-boton;
    background-color: $color-boton;
    color: $color-secundario;
}
.boton:visited{
    @extend .boton
}