* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $color-principal;
    &:hover{
        color: $color-principal;
    }
}
p {
    text-align: justify;
}