$redes: (
    instagram: rgb(228, 19, 99),
    whatsapp: rgb(26, 182, 26),
);

@each $red, $color in $redes{
    .c-#{$red}:hover {
        color:$color;
        transition: all 500ms ease-out;
    }
};
